<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <% if (css_url) { %>
    <link rel="stylesheet" type="text/css" href="<%= css_url %>" />
  <% } %>

  <link rel="shortcut icon" href="<%= favicon_url %>">
  <title><%= brand %></title>
</head>
<body>
  <div id="app"></div>

  <script>
    window.env = {
      VERSION: '<%= version %>',
      BASE_URL: '<%= base_url %>',
      BRAND: '<%= brand %>',
      CHANNELS: '<%= channels %>'
    };
  </script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/bundle.js"></script>

  <% if (js_url) { %>
    <script src="<%= js_url %>"></script>
  <% } %>
</body>
</html>
